.findbar {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	row-gap: 6px;
	column-gap: 8px;
	padding: 6px 8px;
	background: var(--material-toolbar);
	border-bottom: var(--material-panedivider);
	font-size: 12px;

	input[type=text] {
		padding: 0 7px;
		background: var(--material-background);
		border-radius: 5px;
		border: var(--material-border-quinary);
		width: 100%;
		outline: none;
		height: 28px;

		&:focus {
			outline: none;
			border-color: rgba(0, 0, 0, 0);
			box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-search);
		}
	}

	.buttons {
		display: flex;
		gap: 8px;
		align-self: center;

		.group {
			display: flex;
			gap: 4px;
		}
	}

	.check-button {
		display: flex;
		align-items: center;
		cursor: default;
		white-space: nowrap;

		label {
			padding-inline-start: 6px;
		}
	}

	.text-button {
		display: flex;
		padding: 4px;
		align-items: center;
		gap: 4px;
		height: 24px;
		border-radius: 5px;
		background: var(--material-button);
		color: var(--fill-primary);
		box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);
		cursor: default;

		&:active {
			background-color: var(--fill-senary);
		}
	}

	@include macOS-inactive-opacity;
}
