
.link-popup {
	.link {
		width: 150px;
		display: flex;
		flex: 1;
		overflow: hidden;
		align-items: center;

		a {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		input {
			width: 100%;
			border: none;
			outline: none;
			color: inherit;
		}
	}

	.button {
		border: 1px solid #c5c5c5;
	}
}
