.mce-caret {
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;
	height: 0;
	border-top: 4px solid #b5bcc2;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}
