//
// Popup
//

.popup-container .popup {
	position: absolute;
	display: flex;
	z-index: 100;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	padding: 5px 5px;
	border-radius: 4px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
	@include popover-pointer($width: 10px, $height: 5px);

	button {
		user-select: none;
		background: #FFFFFF;
		padding: 4px;
		border-radius: 4px;
		cursor: default;
		display: flex;
		align-items: center;
		text-align: center;

		&:not(:first-child) {
			margin-left: 5px;
		}

		&:hover {
			background: #F0F0F0;
		}

		.icon {
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-inline-end: 7px;
		}
	}
}


.link-popup {
	.link {
		width: 200px;
		display: flex;
		flex: 1;
		overflow: hidden;
		align-items: center;

		a {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			margin-left: 2px;
		}

		input {
			width: 100%;
			border: none;
			outline: none;
			color: inherit;
		}
	}

	button .icon {
		margin: 0;
	}
}
