//
// Page popup
//

.page-popup-container {
	position: absolute;
	z-index: 10;
}

.page-popup {
	position: absolute;
	z-index: 100;
	display: flex;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	padding: 5px 5px;

	border-radius: 4px;
	box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
	@include popover-pointer($width: 10px, $height: 5px);


	.toolbarButton {
		user-select: none;
		background: #FFFFFF;
		padding: 4px;
		border-radius: 4px;

		cursor: default;
		display: flex;
		align-items: center;
		text-align: center;

		&:not(:first-child) {
			margin-left: 5px;
		}

		&:hover {
			background: #F0F0F0;
		}

		.mce-ico {
			margin-inline-end: 7px;
		}
	}


}
