
.toolbar {
	user-select: none;
	color: #404040;
	font-size: 12px;
	border-bottom: 1px solid #d9d9d9;
	cursor: default;
	display: flex;
	justify-content: space-between;
	padding: 3px 5px;

	.start {
		width: 30px;
	}

	.middle {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		& > :not(:first-child) {
			margin-left: 2px;
		}
	}

	.end {
		width: 30px;
	}
}

.toolbar-button {
	color: #404040;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	&:hover {
		background-color: #F0F0F0;
	}

	&:active,
	&.active {
		background-color: #404040;
		color: #ffffff;
	}
}

[dir=rtl] .toolbar-button-return {
	transform: scaleX(-1);
}

.dropdown {
	position: relative;

	.popup {
		top: 30px;
		position: absolute;
		background-color: white;
		z-index: 200;
		border: 1px solid #d9d9d9;
		box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
		border-radius: 4px;
	}
}

.text-dropdown {
	.popup {
		font-size: 14px;
		width: 150px;
		left: -60px;

		.inline-options {
			.line {
				display: flex;
				padding: 3px;
				justify-content: center;
				align-items: center;

				& > :not(:first-child) {
					margin-left: 2px;
				}
			}

			border-bottom: 1px solid #d9d9d9;
		}

		.block-options {
			padding: 5px 0;

			h1, h2, h3, h4, h5, h6, pre, span {
				margin:0;
				padding: 0;
			}

			.option {
				width: 100%;
				padding: 5px 0 5px 20px;

				&:hover {
					background-color: #F0F0F0;
				}

				&.active {
					background-color: #404040;
					color: white;
				}
			}
		}
	}
}


.colors-dropdown {
	.popup {
		font-size: 14px;
		width: 136px;
		left: -53px;
		display: flex;
		justify-content: center;

		.grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			padding: 7px;
			border-bottom: 1px solid #d9d9d9;

			.color-button {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: space-around;

				&:hover {
					background-color: #F0F0F0;
				}
			}

			&:last-child {
				border-bottom: none;
			}

			.icon-color {
				border: 1px solid rgba(0, 0, 0, 0.08);
			}

			.clear {
				border: 2px solid black;
				background-color: unset;
			}

		}
	}

	&.clear .popup {
		width: 160px;
		left: -65px;
	}
}

.font-colors-dropdown {
	.popup {
		font-size: 14px;
		width: 136px;
		left: -53px;
		display: flex;
		justify-content: center;

		.grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			padding: 7px;
			border-bottom: 1px solid #d9d9d9;

			.color-button {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: space-around;

				&:hover {
					background-color: #F0F0F0;
				}
			}

			&:last-child {
				border-bottom: none;
			}

			.icon-color {
				border: 1px solid rgba(0, 0, 0, 0.08);
			}

			.clear {
				border: 2px solid black;
				background-color: unset;
			}

		}
	}

	&.clear .popup {
		width: 160px;
		left: -65px;
	}
}

.align-dropdown {
	.popup {
		display: flex;
		padding: 3px;
		left: -34px
	}
}

.more-dropdown {
	.popup {
		right: 0;
		padding: 5px 0;

		hr {
			margin: 5px 0;
			border: 0;
			border-bottom: 1px solid #d9d9d9;

			&:last-child {
				display: none;
			}
		}

		.option {
			white-space: nowrap;
			padding: 5px 15px;
			width: 100%;

			&:hover {
				background-color: #F0F0F0;
			}

		}
	}
}


.citation-icon {
	width: 16px;
	height: 18px;
	background-image: url(citation.svg);
	background-repeat: no-repeat;
	background-position: top 1px left;
}

.icon-color {
	width: 16px;
	height: 16px;
	border-radius: 5px;
}
