.toolbar {
	user-select: none;
	color: #404040;
	font-size: 12px;
	cursor: default;
	display: flex;
	justify-content: space-between;
	height: 41px !important;
	min-height: 41px;
	margin: 0;
	padding: 0px 8px;
	min-width: 1px;
	background: var(--material-toolbar);
	border-bottom: var(--material-panedivider);

	.start {
		display: flex;
		align-items: center;
		width: 30px;
	}

	.middle {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4px;

		& > :not(:first-child) {
			margin-left: 2px;
		}
	}

	.end {
		display: flex;
		align-items: center;
		width: 30px;
	}

	-moz-appearance: none;
	@media (-moz-platform: macos) {
		-moz-window-dragging: drag;
	}
	@media not (-moz-platform: macos) {
		-moz-window-dragging: no-drag;
	}

	@include macOS-inactive-opacity;
}

.toolbar-button {
	color: var(--fill-secondary);
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 5px;

	@if not $mobile {
		// hover effect only makes sense on non-touch device
		&:hover {
			background-color: var(--fill-quinary);
		}
	}

	&:active,
	&.active {
		background-color: var(--fill-quarternary);
	}
}

[dir=rtl] .toolbar-button-return {
	transform: scaleX(-1);
}

.dropdown {
	position: relative;

	.popup {
		top: 30px;
		position: absolute;
		z-index: 200;
		box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
		border-radius: 4px;
		background: var(--material-toolbar);
		border: var(--material-panedivider);
		color: var(--fill-primary)
	}
}

.text-dropdown {
	.popup {
		font-size: 14px;
		width: 150px;

		.inline-options {
			.line {
				display: flex;
				padding: 3px;
				justify-content: center;
				align-items: center;

				& > :not(:first-child) {
					margin-left: 2px;
				}
			}

			border-bottom: var(--material-panedivider);
		}

		.block-options {
			padding: 5px 0;

			h1, h2, h3, h4, h5, h6, pre, span {
				margin:0;
				padding: 0;
			}

			.option {
				width: 100%;
				padding: 5px 0 5px 20px;

				&:hover {
					background-color: var(--fill-quinary);
				}

				&.active {
					background-color: var(--fill-quarternary);
					color: white;
				}
			}
		}
	}
}


.highlight-color-dropdown {
	.popup {
		font-size: 14px;
		width: 112px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 7px;

		.grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			//border-bottom: 1px solid #d9d9d9;

			.color-button {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: space-around;

				&:hover {
					background-color: var(--fill-quinary);
				}
			}

			&:last-child {
				border-bottom: none;
			}

			.icon-color {
				border: 1px solid rgba(0, 0, 0, 0.08);
			}

			.clear {
				border: 2px solid black;
				background-color: unset;
			}

		}
	}

	&.clear .popup {
		width: 136px;
	}
}

.text-color-dropdown {
	.popup {
		font-size: 14px;
		width: 112px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 7px;

		.grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;

			//border-bottom: 1px solid #d9d9d9;

			.color-button {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: space-around;

				&:hover {
					background-color: var(--fill-quinary);
				}
			}

			&:last-child {
				border-bottom: none;
			}

			.icon-color {
				border: 1px solid rgba(0, 0, 0, 0.08);
			}

			.clear {
				border: 2px solid black;
				background-color: unset;
			}

		}
	}

	&.clear .popup {
		width: 136px;
	}
}

.align-dropdown,
.insert-dropdown {
	.popup {
		display: flex;
		padding: 3px;
	}
}

.more-dropdown {
	.popup {
		padding: 5px 0;

		hr {
			margin: 5px 0;
			border: 0;
			border-bottom: var(--material-panedivider);

			&:last-child {
				display: none;
			}
		}

		.option {
			white-space: nowrap;
			padding: 5px 15px;
			width: 100%;

			&:hover {
				background-color: var(--fill-quinary);
			}
		}
	}
}

.citation-icon {
	width: 16px;
	height: 18px;
	//background-image: url(citation.svg);
	background-repeat: no-repeat;
	background-position: top 1px left;
}

.icon-color {
	width: 16px;
	height: 16px;
	border-radius: 5px;
}
