$platform: "darwin";
$theme: "light";
$mode: "production" !default;

//
// Functions
//

@import "abstracts/functions";

//
// Theme
//

@import "themes/light-darwin";

//
// Abstracts
//

@import "abstracts/mixins";

//
// Base
//

@import "base/base";
@import "base/normalize";

//
// Components
//

@import "components/core/core";
@import "components/core/image";
@import "components/core/math";

@import "components/ui/popup";
@import "components/ui/editor";
@import "components/ui/findbar";
@import "components/ui/noticebar";
@import "components/ui/toolbar";
