//
// Base
//

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: var(--font-family);
	font-size: var(--font-size);
}

button {
	all: unset;
	outline: revert;
	display: block;
	box-sizing: border-box;
}

@if $mobile {
	// Avoid focus ring on touch devices
	button:focus {
		outline: none;
	}
}
