*,
::before,
::after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	background-color: Window;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;

	font-style: normal;

	@if $platform == 'zotero' {
		@media (-moz-platform: windows) {
			--color-accent: var(--accent-blue);
			@include light-dark(--color-focus-border, #000, #fff);
			--width-focus-border: 2px;
		}
		@media (-moz-platform: macos) {
			--color-accent: SelectedItem;
			--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
			--width-focus-border: 3px;
		}
		@media (-moz-platform: linux) {
			--color-accent: SelectedItem;
			--color-focus-border: var(--color-accent);
			--width-focus-border: 2px;
		}
	} @else if $platform == 'web' {
		color-scheme: light;
		--color-accent: SelectedItem;
		--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
		--width-focus-border: 3px;
	} @else if $platform == 'ios' {
		--color-accent: SelectedItem;
		--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
		--width-focus-border: 3px;
	} @else if $platform == 'android' {
		--color-accent: SelectedItem;
		--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
		--width-focus-border: 3px;
	} @else if $platform == 'dev' {
		--color-accent: SelectedItem;
		--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
		--width-focus-border: 3px;
	}

	--color-focus-search: color-mix(in srgb, var(--color-accent) 70%, transparent);
}

button {
	all: unset;
	outline: revert;
	display: block;
	box-sizing: border-box;

	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-border);
	}
}

@if $mobile {
	// Avoid focus ring on touch devices
	button:focus {
		outline: none;
	}
}
