
.page-popup {
  position: absolute;

}

#editor-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  .editor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    .editor-core {
      display: flex;
      overflow: hidden;
      flex: 1;

      .ProseMirror {
        flex: 1;
        // Margins must belong to editor contenteditable area to accept the pointer
        padding: 8px;
        overflow: auto;

        & > *:first-child {
          margin-top: 0;
        }

        & > *:last-child {
          margin-bottom: 0;
        }
      }
    }

  }
}


.link-popup {
  position: absolute;
  z-index: 100;
}


.toolbar {
  color: #595959;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  cursor: default;

  .line {
    display: flex;
    height: 28px;
    padding-left: 2px;
  }

  .group {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      border-left: 1px solid #d9d9d9;
      padding-left: 2px;
    }
  }

  .button {
    font-size: 12px;
    color: #595959;
    border: 1px solid transparent;
    padding: 2px;
    margin-right: 2px;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: #c5c5c5;
    }

    &:focus {
      border-color: #2276d2
    }

    &.active {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #555c66;
      color: white;
      border-color: transparent;
    }

  }

  .dropdown {
    min-width: 92px;

    .face {
      height: 22px;
      display: flex;
      margin-right: 2px;
      padding: 0 2px;
      align-items: center;
      border: 1px solid transparent;

      .down-button {
        padding-left: 5px;
        padding-right: 3px;
      }

      &:hover {
        border-color: #c5c5c5;
      }

    }

    &.active .face {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #555c66;
      color: white;
      border-color: transparent;
    }

    .popup {
      padding: 5px 0;
      position: absolute;
      width: 150px;
      border: 1px solid black;
      background-color: white;
      z-index: 1;
      position: absolute;
      z-index: 100;


      border: 1px solid #c5c9cf;
      border: 1px solid #e2e4e7;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);


      .dropdown-item {
        padding: 6px 4px 6px 4px;

        h1, h2, h3, h4, h5, h6, pre {
          margin: 0;
          padding: 0;
        }


        &:hover {
          background: #ededee;
        }

        &.active {
          background-color: #555c66;
          color: white;
        }

      }
    }
  }

  .color-picker {
    display: flex;
    padding: 2px;
    margin-right: 2px;
    border: 1px solid transparent;

    &:hover {
      border-color: #c5c5c5;

      .down-button {
        border-left: 1px solid #e2e4e7;
      }
    }

    &.background .color-button {
      background-color: lightgray;
    }

    .color-button {
      position: relative;
      display: flex;

      .preview {
        display: block;
        position: absolute;
        background-color: gray;
        height: 2px;
        width: 16px;
        bottom: 0;
      }
    }

    .down-button {
      display: flex;
      align-items: center;
      padding-left: 3px;
      padding-right: 2px;
      font-size: 12px;
      color: #595959;
      text-align: center;
      margin-left: 2px;
      border-left: 1px solid transparent;
    }


    .popup {
      position: absolute;
      display: flex;
      flex-direction: row;
      width: 154px;
      flex-wrap: wrap;
      background-color: #ffffff;
      border: 1px solid #c5c5c5;
      z-index: 100;

      .color {
        margin: 2px;
        border: 1px solid #c5c5c5;
        width: 15px;
        height: 15px;
      }

      .no-color {
        font-family: Arial, sans-serif;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-size: 16px;
        line-height: 13px;
      }
    }

  }
}


.findbar {
  font-size: 14px;
  color: #595959;
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 3px;

  .column-left {
    width: 100%;
    padding-left: 2px;

    .line {
      display: flex;
      height: 22px;
      margin-top: 3px;
      border: 1px solid #c5c5c5;

      input {
        width: 100%;
        border: none;
        outline: none;
        color: inherit;
      }
    }
  }

  .column-right {
    white-space: nowrap;
    padding-right: 2px;

    .line {
      margin-top: 3px;
      display: flex;
      height: 22px;
      justify-content: space-between;


      .button {
        cursor: default;
        display: flex;
        align-items: center;
        padding: 0 3px;
        margin-left: 2px;
        border: 1px solid #c5c5c5;
        height: 100%;
      }

      .buttons {
        display: flex;
        align-items: center;

        .button {
          &:hover {
            background: #555c66;
            color: white;
            border-color: transparent;
          }
        }
      }


      .toggles {
        display: flex;
        align-items: center;

        .button {
          border-color: transparent;
          font-weight: bold;

          &:hover {
            border-color: #c5c5c5;
          }

          &.active {
            background: #555c66;
            color: white;
            border-color: transparent;
          }
        }


      }


    }
  }


}


.mce-caret {
  line-height: 20px;

  vertical-align: middle;

  display: inline-block;

  height: 0;


  border-top: 4px solid #b5bcc2;

  border-right: 4px solid transparent;

  border-left: 4px solid transparent;

  content: "";
}

@import "mce-icons";
